@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
.bodyc {
  background-color: #fcf8c3;
  max-width: 100%;
}

#principal {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#principal::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #333;
  margin: 10px auto;
}

h1 {
  text-align: center;
  margin: 20px;
}

#principal {
  font-size: 100px;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 35px;
}

.containeracc {
  padding: 20px;
  background-color: #f2f2f2;
}

.lastarticle {
  margin-bottom: 30px;
}

.item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.item-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.item-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.item-price {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.item-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.container {
  list-style-type: none;
  background-color: #494949;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  padding: 14px 16px;
}
.container li a:hover {
  background-color: #3d3d3d;
}

.logocontainer {
  height: 50px;
  max-width: 100px;
}
.logocontainer .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}
footer li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
footer li:last-child {
  margin-right: 0;
}

.social-links {
  display: flex;
}
.social-links li {
  margin-right: 10px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 0 25%;
  margin-bottom: 30px;
}
.footer-col h3 {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer-col ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-col img {
  max-width: 100%;
  height: auto;
}

.bodyreme {
  font-family: Arial, sans-serif;
  margin: 0;
}

.headerreme {
  background-color: #333;
  color: #ff0000;
  padding: 20px;
}

.mainreme {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-listreme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.productreme {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #ddd;
  margin: 20px;
}
.productreme img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}
.productreme h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.5em;
}
.productreme p {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.productreme :hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.buy-button {
  background-color: #F05356;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  background-color: #4CAF50;
  font-size: 1.2em;
}
.buy-button :hover {
  background-color: #E54347;
}

.pantalones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.zapatillas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.productzapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px #ddd;
  width: 300px;
  margin: 20px;
  text-align: center;
}
.productzapa img {
  height: auto;
  margin-top: 20px;
  max-width: 100%;
}

.stylesh3 {
  font-size: 1.5rem;
  text-align: center;
}

.about-us {
  background-color: #f5f5f5;
  padding: 40px 0;
}

.containerus {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.about-uss {
  padding: 60px 0;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: justify;
}

.containerus {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.mainos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

form {
  width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
}

textarea {
  height: 150px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3e8e41;
  margin: 100px;
}

.separadors {
  margin: 100px;
}

.sectionpol {
  padding: 20px;
}

.ulpol {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.lipol {
  margin-bottom: 5px;
}

.ppol {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mainpol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.containerterm {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.pterm {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.ulterm {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.literms {
  margin-bottom: 10px;
}

.formcom {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.labelcom {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.cominput[type=text],
.cominput[type=number] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.buttocom:hover {
  background-color: #45a049;
}

.buttoncompr {
  margin-top: 10px;
  background-color: #6d6d6d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 4px;
}
.buttoncompr :hover {
  background-color: #525252;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: roboto;
}

body {
  height: 1000px;
  position: relative;
}

.main {
  padding: 20px;
}

.separador {
  border-bottom: 5px solid #3f3d3d;
  margin: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 576px) {
  /* Estilos del encabezado */
  .navbar-nav {
    margin-top: 10px;
  }
  .logocontainer {
    text-align: center;
  }
  .logo {
    max-width: 150px;
  }
  /* Estilos del título principal */
  #principal {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Estilos de la sección "INDUMENTARIA" */
  .section-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* Estilos de los artículos */
  .item {
    text-align: center;
    margin-bottom: 20px;
  }
  .item-image {
    max-width: 100%;
    height: auto;
  }
  .item-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .item-price {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .buy-button {
    margin-bottom: 10px;
  }
  .pantalones {
    justify-content: center;
  }
  .productreme {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
  }
  /* Estilos del pie de página */
  .footer-col {
    margin-bottom: 20px;
  }
  .footer-col .footer-bottom {
    font-size: 12px;
  }
}
/* Estilos para tablet */
@media (min-width: 576px) and (max-width: 992px) {
  /* Estilos del encabezado */
  .logo {
    max-width: 200px;
  }
  /* Estilos del título principal */
  #principal {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* Estilos de la sección "INDUMENTARIA" */
  .section-title {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  /* Estilos de los artículos */
  .item-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .item-price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  /* Estilos del pie de página */
  .footer-bottom {
    font-size: 14px;
  }
}

/*# sourceMappingURL=estilos.css.map */
