// estilos sobre nosotros

.about-us {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.containerus {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.about-uss {
    padding: 60px 0;
}

.about-header {
    text-align: center;
    margin-bottom: 30px;

}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: justify;
}

.containerus {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.mainos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}


