// estilos de terminos y condiciones

.containerterm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.pterm {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ulterm {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.literms {
    margin-bottom: 10px;
}

